{{ template "header" .}}
<p>{{ .Message }}</p>
<form action="/tvlist">
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <div><input type="text" name="cast"></div>
  <input type="submit" value="my番組表へ">
</form>
{{ template "footer" .}}