{{ template "header" .}}

<link rel="stylesheet" href="/static/css/style.css">
<div class="dateSlide">
  <ul class="dateSlideList">
      <li class="date01"></li>
      <li class="date02"></li>
      <li class="date03"></li>
      <li class="date04"></li>
      <li class="date05"></li>
      <li class="date06"></li>
      <li class="date07"></li>
      <li class="date08"></li>
  </ul>
</div>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/script.js"></script>


{{ template "footer" .}}